body {
    font-family:'Raleway', sans-serif;
    font-size:1em;
}

footer {
    text-align:center;
    font-family:'Montserrat', sans-serif;
    background-color:#4c46cb;
    color:#fff;
    font-weight:bold;
    padding:50px;
}

.clear {
    clear:both;
}

.navcontainer {
    display:flex;
    justify-content: space-between;
}

nav {
    padding:25px;
    box-shadow:0px 10px 25px #7871ff;
    margin-bottom:75px;
}

nav a {
    font-family:'Montserrat', sans-serif;
    font-weight:bold;
    font-size:1.10em;
    text-transform:uppercase;
    text-decoration:none;
    padding:0px 20px;
    color:#322aca;
    transition:.5s;
}

nav a:hover {
    background-color:#322aca;
    color:#fff;
    padding:10px 25px;
}

.navimg {
    max-width:293px;
    max-height:93px;
}

.headercontainer {
    width:100%;
    max-width:1200px;
    margin:auto;
}

header {
    width:100%;
    max-width:1200px;
    margin:auto;
}

.headerimg {
    width:100%;
    max-width:1200px;
}

h1 {
    position:relative;
    font-size:5em;
    text-transform:uppercase;
}

.indextitle {
    margin-top:-200px;
    background-color:#7871ff;
    color:#fff;
    padding:25px;
    text-shadow:0px 10px 10px #322aca;
}

.indextopquote {
    font-size:1.5em;
    margin-top:-50px;
}

.indexbit {
    background-color:#4c46cb;
    padding:25px;
    color:#fff;
}

.iconimg {
    width:100%;
    max-width:150px;
}

.iconcontainer {
    display:flex;
    width:100%;
    max-width:1200px;
    margin:auto;
    padding:50px;
}

.iconcard {
    border:2px solid #322aca;
    border-radius:25px;
    padding:75px 50px;
    margin-right:54px;
}

.icontext {
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align:center;
    font-weight:bold;
    font-size:1.25em;
    color:#4c46cb;
}

.sectionbg {
    background-color:#7871ff;
}

.sectioncontainer {
    width: 1200px;
    margin: auto;
    display:flex;
    padding:100px 0px;
}

.sectioncontainer2 {
    width: 1200px;
    margin: auto;
    display:flex;
    padding:100px 0px;
    color:#fff;
}

.sectionimg {
    padding-right:75px;
    margin-left:25px;
    width:100%;
    max-width:500px;
}


.sectiontitle{
    position:absolute;
    background-color:#fff;
    border:1px solid #000;
    color:#000;
    margin-left:-300px;
    border-radius:50px;
    padding:10px 150px;
    text-transform:uppercase;
    font-family:'Montserrat', sans-serif;
    font-size:2.75em;
    width:450px;
}


.sectiontitle2 {
    position:absolute;
    border:1px solid #322aca;
    background-color:#7871ff;
    color:#fff;
    margin-left:100px;
    border-radius:50px;
    padding:10px 150px;
    text-transform:uppercase;
    font-family:'Montserrat', sans-serif;
    font-size:2.75em;
    width:450px;
    text-align:right;
}

.sectiontitle3 {
    position:absolute;
    background-color:#fff;
    border:1px solid #000;
    color:#000;
    margin-left:-200px;
    border-radius:50px;
    padding:10px 150px;
    text-transform:uppercase;
    font-family:'Montserrat', sans-serif;
    font-size:2.75em;
    width:450px;
}


.sectionquote {
    margin-top:145px;
    font-size:1.5em;
}

.sectionlearn {
    float:right;
    text-decoration:none;
    background-color:#322aca;
    color:#fff;
    border-radius:25px;
    padding:10px 25px;
    text-transform:uppercase;
}

.sectionlist {
    list-style-type:none;
    letter-spacing:1px;
    font-size:1.25em;
}


.sectionimg2 {
    width:100%;
    max-width:500px;
    padding-left:50px;
    margin-right:-100px;
}



.sectionlearn2 {
    float:left;
    text-decoration:none;
    background-color:#322aca;
    color:#fff;
    border-radius:25px;
    padding:10px 25px;
    text-transform:uppercase;
}

.sectionquote2 {
    margin-top:145px;
    font-size:1.5em;
    text-align:right;
}

.sectionlist2 {
    list-style-type:none;
    letter-spacing:1px;
    font-size:1.25em;
    text-align:right;
}



.pagequote {text-align:center;font-size:2em;color:#4c46cb;}

.pagetitle {
    position:relative;
    text-align:center;
    color:#322aca;
    margin-top:-25px;
}

.pageheadimg {margin-top:-100px;width:100%;max-width:1200px;}

.pagecontainer {
    background-color: #fff;
    width:100%;
    max-width:1200px;
    margin: auto;
    padding:50px 0px 0px 0px;
}

.pagecontainer2 {
    background-color: #fff;
    width:100%;
    max-width:1200px;
    margin: auto;
    text-align:justify;
    font-size:1em;
}

.pagesubtitle {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-top:25px;
    font-family:'Montserrat', sans-serif;
    text-transform:uppercase;
    font-size:2em;
    color:#322aca;
}

.pageptitle {
    font-size:1.5em;text-align:right;margin-top:150px;color:#4c46cb;
}

.pageptitle2 {
    font-size:1.5em;text-align:left;margin-top:25px;color:#4c46cb;
}

.pageptitle3 {
    font-size:1.5em;text-align:right;color:#4c46cb;
}

.pageptitle4 {
    font-size:1.5em;text-align:left;color:#4c46cb;
}

.pagetext {
    text-align:justify;padding-left:200px;font-size:1em;
}

.pagetext2 {
    text-align:justify;font-size:1em;
}

.pagetext3 {
    text-align:justify;font-size:1em;
}


.savemethodcontainer {
    display:flex;
    font-size:1em;
    justify-content: space-between;
    margin-left:100px;
}

.savemethod {
    background-color:#fff;
    width:350px;
    text-align:center;
    border-radius:50px;
    border:1px solid #000;
    padding:15px 25px;
    font-size:1em;
    margin-right:100px;
}

.savemethodtitle {
    font-size:1.25em;
    font-weight:bold;
    font-family:'Montserrat', sans-serif;
    text-transform:uppercase;
    color:#4c46cb;
}

.savemethodtitle2 {
    font-size:2em;
    font-weight:bold;
    font-family:'Montserrat', sans-serif;
    text-transform:uppercase;
    color:#4c46cb;
}

.bankcalc {
    text-transform:uppercase;
    color:#322aca;
    font-weight:bold;
}

.calcimg {
    width:100%;
    max-width:500px;
}

.budgetimg {
    width:100%;max-width:1000px;margin-left:100px;
}

.chartimg {
    width:100%;
}

.appcontainer {
    display:flex;
    justify-content: space-between;
}

.pageimgleft {
    float:left;
    width:100%;
    max-width:500px;
    padding-right:200px;
    padding-bottom:50px;
}

.pageimgright {
    float:right;
    width:100%;
    max-width:500px;
    padding-left:200px;
    padding-bottom:50px;
}

@media only screen and (max-width:750px) {
    .pagequote {font-size:1em;}
    .pagetitle {font-size:2em;margin-top:-10px;}
    .pageheadimg {margin-top:-50px;}
    .pagesecimg {margin:auto;}
    .pageptitle {text-align:left;}
    .pagetext {padding:0;}
    .pagetext2 {padding:0;}
    .pageptitle3 {text-align:left;}
    .pagecontainer {display:block;}
    .budgetimg {max-width:500px;margin:0;}
    .savemethodcontainer {display: block;margin-left:25px;}
    .savemethod {margin-top:25px;}
    .appcontainer {display:block;margin-left:100px;}
    .pageimgleft {padding-right:0;}
    .pageimgright {padding-left:0;}
    h1 {font-size:3em;}
    .indextopquote {font-size:1em;margin-top:-30px;}
    .indextitle {margin-top:-75px;}
    .iconcontainer {display:block;padding:25px;}
    .iconcard {margin-top:25px;padding:25px;}
    .appcontainer img{width:200px;margin-top:25px;}
    .sectioncontainer, .sectioncontainer2{display:block;}
    .sectiontitle, .sectiontitle2, .sectiontitle3{position:relative;font-size:1.5em;margin:25px 0px 0px 8px;padding:10px 0px;text-align:center;}
    .sectionquote {margin-top:25px;font-size:1em;margin-left:25px;}
    .sectionquote2 {text-align:left;margin-top:25px;font-size:1em;}
    .sectionlearn, .sectionlearn2{float:none;margin-left:20px;font-size:.85em;}
    .sectionlist2 {text-align:left;}
}

@media only screen and (max-width:1200px) {
    nav a {display:block;padding:10px 25px;}
    .navimg {display:none;}
}


