body {
    font-family:'Raleway', sans-serif;
    font-size:1em;
    margin:0;
    padding:0;
}

footer {
    text-align:center;
    font-family:'Montserrat', sans-serif;
    background-color:#4c46cb;
    color:#fff;
    font-weight:bold;
    padding:50px;
}

.clear {
    clear:both;
}

.navcontainer {
    display:flex;
    justify-content: space-between;
}

nav {
    padding:25px;
    box-shadow:0px 10px 25px #7871ff;
    margin-bottom:75px;
}

nav a {
    font-family:'Montserrat', sans-serif;
    font-weight:bold;
    font-size:1.10em;
    text-transform:uppercase;
    text-decoration:none;
    padding:0px 20px;
    color:#322aca;
    transition:.5s;
}

nav a:hover {
    background-color:#322aca;
    color:#fff;
    padding:10px 25px;
}

.navimg {
    max-width:293px;
    max-height:93px;
}

.headercontainer {
    width:100%;
    max-width:1200px;
    margin:auto;
}

header {
    width:100%;
    max-width:1200px;
    margin:auto;
}

.headerimg {
    width:100%;
    max-width:1200px;
}

h1 {
    position:relative;
    font-size:5em;
    text-transform:uppercase;
}

.indextitle {
    margin-top:-200px;
    background-color:#7871ff;
    color:#fff;
    padding:25px;
    text-shadow:0px 10px 10px #322aca;
}

.indextopquote {
    font-size:1.5em;
    margin-top:-50px;
}

.indexbit {
    background-color:#4c46cb;
    padding:25px;
    color:#fff;
}

.iconimg {
    width:100%;
    max-width:150px;
}

.iconcontainer {
    display:flex;
    flex-wrap:wrap;
    width:100%;
    max-width:1200px;
    margin:0 auto;
    padding:100px 0px 0px 0px;
    justify-content: space-between;
}

.iconcard {
    border:2px solid #322aca;
    border-radius:25px;
    padding:75px 25px;
    width:100%;
    max-width:200px;
}

.icontext, .icontip{
    font-family:'Montserrat', sans-serif;
    text-align:center;
    font-size:1em;
    color:#4c46cb;
}

.icontext {
    font-weight:bold;
    font-size:1.25em;
    text-transform: uppercase;
}

.icontip {
    display:none;
}

.resettip {
    background-color:#322aca;
    color:#ffffff;
    font-weight:bold;
    font-size:1.5em;
    width:200px;
    margin:50px auto;
    text-align:center;
    padding:10px 20px;
}

.sectone {
    display:flex;
    background-color:#4c46cb;
    justify-content: center;
    padding:100px 0px;
}

.secttwo {
    display:flex;
    justify-content: center;
    padding:100px 0px;
}

.sectimg {
    width:500px;
}

.sectcontent {
    padding:30px;
}

.sectcontent2 {
    order:1;
    text-align:right;
    padding:30px;
}

.sectimgcontainer {
    order:2;
}

.secttitle {
    background-color:#fff;
    text-transform:uppercase;
    font-size:2.75em;
    padding:10px 150px 10px 100px;
    border:1px solid #000;
    border-radius:50px;
    text-align:center;
}

.secttitle2 {
    background-color:#fff;
    text-transform:uppercase;
    font-size:2.75em;
    padding:10px 100px 10px 150px;
    border:1px solid #000;
    border-radius:50px;
    text-align:center;
}

.secttext, .secttext2 {
    font-size:1.5em;width:100%;max-width:700px;
}

.secttext {color:#fff;}

.sectlist, .sectlist2{
    list-style-type: none;
    font-size:1.25em;
}

.sectlist {color:#fff;}

.sectbutton {
    background-color:#322aca;
    color:#fff;
    text-transform:uppercase;
    padding:10px 20px;
    border-radius:50px;
    text-decoration:none;
}

.sectbuttonright {
    text-align:right;
}

.sectbuttonleft {
    text-align:left;
}

.pagequote {text-align:center;font-size:2em;color:#4c46cb;}

.pagetitle {
    position:relative;
    text-align:center;
    color:#322aca;
    margin-top:-25px;
}

.pageheadimg {margin-top:-100px;width:100%;max-width:1200px;}


.pagesubtitle {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-top:25px;
    font-family:'Montserrat', sans-serif;
    text-transform:uppercase;
    font-size:2em;
    color:#322aca;
}

.pagecontainer {
    display:flex;
    margin:0 auto;
    width:100%;
    max-width:1200px;
    padding:50px 0px;
}

.pagecontainercredit {
    display:flex;
    margin:0 auto;
    width:100%;
    max-width:1200px;
}

.pagecontent {
    padding:100px 50px;
}

.pagecontentcredit {
    padding:50px;
}

.pagecontentlong {
    padding:0px 50px;
}

.pageimgl {
    padding:0px 50px;
}

.pagetext {
    text-align:justify;
    font-size:1em;
}

.pageptitler {
    text-align:right;
    color:#322aca;
    font-size:1.5em;
}

.pageptitlel {
    text-align:left;
    color:#322aca;
    font-size:1.5em;
    padding-left:50px;
}

.pageptitletax {
    text-align:left;
    color:#322aca;
    font-size:1.5em;
}

.pagecentercont {
    margin:0 auto;
    width:100%;
    max-width:1200px;
}

.pagecentertext {
    text-align:justify;
    padding:0px 50px;
}

.savemethodcontainer {
    display:flex;
    font-size:1em;
    justify-content: center;
    margin-left:100px;
}

.savemethod {
    background-color:#fff;
    width:350px;
    text-align:center;
    border-radius:50px;
    border:1px solid #000;
    padding:15px 25px;
    font-size:1em;
    margin-right:100px;
}

.savemethodtitle {
    font-size:1.45em;
    font-weight:bold;
    font-family:'Montserrat', sans-serif;
    text-transform:uppercase;
    color:#4c46cb;
}

.savemethodtitle2 {
    font-size:2em;
    font-weight:bold;
    font-family:'Montserrat', sans-serif;
    text-transform:uppercase;
    color:#4c46cb;
}

.savemethodtext {
    display:none;
}

.saveimg {
    margin:0 auto;
    width:100%;
    max-width:1000px;
}

.budgetimg {
    margin:0 auto;
    width:90%;
    max-width:1000px;
    padding:25px;
}

.calcimg {
    width:100%;
    max-width:500px;
}

.appcontainer {
    display:flex;
    justify-content: center;
    margin:0 auto;
    width:100%;
    max-width:1200px;
}

.appcontainer img {
    padding:10px;
}

.pageimgtax {
    width:500px;
    padding:50px 0px;
}

/* Mobile Adjustments */
@media only screen and (max-width:1024px) {
    .pagequote {font-size:1em;}
    .pagetitle {font-size:2em;margin-top:-10px;}
    .pageheadimg {margin-top:-50px;}
    

    h1 {font-size:3em;}
    .indextopquote {font-size:1em;margin-top:-30px;}
    .indextitle {margin-top:-75px;}
    .iconcontainer {width:100%;justify-content:center;padding:25px 0px;}
    .iconcard {margin-top:25px;padding:25px 150px;margin-left:5px;}
    .sectone, .secttwo {flex-wrap:wrap;}
    .sectimg {width:400px !important;}
    .secttitle {font-size:1.5em !important;padding:10px 0px!important;}
    .secttext {font-size:1.25em !important;}
    .sectlist {font-size:1em !important;}
    .secttitle2 {font-size:1.5em !important;padding:10px 0px!important;}
    .secttext2 {font-size:1.25em !important;}
    .sectlist2 {font-size:1em !important;}

    .pagecontainer {flex-wrap: wrap;justify-content:center;padding:50px 0px 0px 0px !important;}
    .pagecontainercredit {flex-wrap: wrap;justify-content:center;padding:10px 0px 0px 0px !important;}
    .pageimg {width:400px;}
    .pageimgtax {padding:10px 0px !important;}
    .pagecontent {padding:50px !important;}
    .pagetext {text-align:justify !important;}
    .pagesubtitle {text-align:center;}
    .savemethodcontainer {flex-wrap:wrap;}
    .savemethod {margin-top:25px;}
    .appcontainer {flex-wrap: wrap;}
    .appcontainer img{width:200px;}
    

}

@media only screen and (max-width:1100px) {
    nav a {display:block;padding:10px 25px;}
    .navimg {display:none;}
}

